<nav class="main-nav">
    <ul class="main-nav__list js-mobile-menu">

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link animate-link --white">Недвижимость</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link animate-link --white">Строящиеся ЖК</a>
        </li>

        <li class="main-nav__item hover-item js-mobile-menu">
            <a href="#" class="main-nav__link animate-link --white">Недвижимость в Дубае</a>

            <ul class="main-nav__submenu show-menu">

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Строящиеся ЖК в Дубае</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Готовые ЖК в Дубае</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink current">Виллы в Дубае</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Пентхаусы в Дубае</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Таунхаусы в Дубае</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Коммерческая недвижимость</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Земельные участки</a>
                </li>

            </ul>

        </li>

    </ul>
</nav>